@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/* css variables*/
:root{
    --primary: rgb(155, 202, 101);
    --white: #ffff;
    --off-white: rgba(228, 189, 189, 0.767);
}
.header{
   text-align: center;
   color: bisque;
   background-color: aquamarine;
   border-radius: 2rem 1rem;
}
#para{
   font-family: 'Aboreto', cursive;
   font-weight: 900;
}
.container{
   font-family: 'Aboreto', cursive;
   font-size: small;
   color:aquamarine;
   font-weight: 900;
}

 .container-container-center{
    text-align: center;
    max-width: 500px;
    margin: auto;
    color:var(--off-white);
    background-color: var(--primary);
 }
 /* links */
 .Links{
   
    padding: 2rem 5rem;
 }
 .Links .link1{
    text-decoration: none;
    border: 0.1rem solid var(--primary);
    padding: 0.5rem;
    background-color: aquamarine;
    color: #ffff;
    margin: 2rem;
 }
 .link2{
    text-decoration: none;
    border: 0.1rem solid var(--primary);
    padding: 0.5rem;
    background-color: aquamarine;
    color: rgb(103, 101, 240);
    border-radius: 1rem 2rem; 
 }
 .link3{
   border: 0.1rem;
   text-decoration: none;
   padding: 1rem;
   color: black;
   background-color: antiquewhite;
   border-radius: 1rem 1rem;
 }
 .list-non-bullet{
    list-style-type: none;
 }
 .list-bullet{
    list-style-type: disc;
 }
 /* nav */
 nav{
    border-radius: 2rem;
    background-color: bisque;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.nav-brand{
    font-weight: bolder;
    font-size: large;
}
.nav-pill{
    display: flex;
    
}
.list-item-inline{
    margin: 0rem 1rem;
    background-color: var(--off-white);
}
.list-item-inline{
    padding: 0.5rem 1.5rem;
    background-color: rgb(192, 166, 166);
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}
.image1{
   max-width: 25rem;
   max-height: 25rem;
   display: block;
   margin: auto;
}
.image2{
   text-align: center;
   font-family: 'Aboreto', cursive;

}
.image3{
   color: rgb(153, 51, 68);
}